
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-image: url("bgcolor2.png");
            background-repeat: no-repeat;
            background-size: 100%;
        }
        h1 {
            color: rgb(0, 0, 0);
            text-align: center;
        }
        .cont {
            
            left:600px;
            top:50px;
            color: #000000;
            

        }
        .box{
                
                width: 30%;
                padding: 50px;
                margin-left: 35%;
                margin-top: 5%;
                background-color: #eeeeee;
                height: 10%;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

            }

            .button {
            position: fixed;
            left: 502px;
            top: 455px;
            width: 30%;
            
            background-color: #f83646; 
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            -webkit-transition-duration: 0.4s; 
            transition-duration: 0.4s;

        }
        .button:hover{
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2" style="box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">
        <img id="image" src="/vodafonelogo.png" width="20" height="20">
        <a class="navbar-brand" style="color: rgb(247, 6, 6); margin-left: 10px;">Vodafone</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
        </div>
    </nav>
    <div class="container">
        <h1 style="color: #D2042D ;">Welcome</h1>
    </div>
    <div class="cont">
        <script>
            alert("Wrong password");  
        </script>
        <div class="box">
            <form method="POST">
                Username:<br>
                <input type="text" name="username" required>
                <br>
                Password:<br>
                <input type="password" name="password" required>
                <br><br>
                <input class="button" type="submit" value="Login">
            </form>
            <br>
            <a href="registration">I dont have an account</a>
        </div>
        
    </div>
</body>
</html>